.benefits {
  background-color: #F2F2F2;
}
.benefits__list {
  width: 276px;
  text-transform: uppercase;
  border-collapse: collapse;
  background-color: white;
}
.benefits__list tr,
.benefits__list td {
  border: 2px solid #E5E5E5;
}
.benefits__item th {
  background: #283645;
  color: white;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  height: 122px;
}
.benefits__item span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
.benefits__item td {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

}
