.description {
  text-align: center;
  background-image: url(../img/background-description-mobile.svg);
  background-repeat: no-repeat;
  @media (min-width: @tablet-width) {
    background-image: url(../img/background-description-tablet.svg);
    background-position: 100% 121px;
  }
  @media (min-width: @desktop-width) {
    background-image: url(../img/background-description.svg);
    background-position: 100% 178px;
  }
}
.description__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
.description__item {
  width: 300px;
}
.description__subtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}
.description__features {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
.description__phone-image-1,
.description__phone-image-2 {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
.description__phone-image-3 {
  margin-right: 0;
}
.description__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
  }
}
.description__list {
  @media (min-width: @tablet-width) {
    order: 2;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
.description__phone-image {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

