.description-section {
  min-height: 171px;
  @media (min-width: @tablet-width) {
    min-height: 330px;
  }
  @media (min-width: @desktop-width) {
    min-height: 284px;
  }
}
.description-section__title {
  color: white;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
