.download {
  background-image: url(../img/back-mobile.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: 1460px auto;
  background-color: #1D2631;
  min-height: 396px;
  color: white;
  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-tablet@2x.png");
    background-size: 1460px auto;
  }
  @media (min-width: @desktop-width) {

  }
}
.download__container {
  background-color: #1D2631;
  @media (min-width: @tablet-width) {
    background-color: initial;
  }
}
.download__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    text-align: left;
    margin-left: 60px;
    text-align: center;
    width: 300px;
  }
}
.download__color {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}
.download__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 29px;
  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 60px;
  }
}
.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  width: 280px;
  height: 55px;
  border: 3px solid currentColor;
  border-radius: 29px;
  padding: 10px;
  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}
.download__features {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
