.download {
  color: white;
}
.download__container {
  background-color: #1D2631;
  @media (min-width: @tablet-width) {
    background-color: initial;
  }
}
.download__wrapper-position {
  position: relative;
}
.download__hand-iphone {
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6%;
  width: 320px;
  height: 286px;
  @media (min-width: @tablet-width) {
    transform: none;
    width: auto;
    height: auto;
    top: 40px;
    left: 1px;
  }
  @media (min-width: @desktop-width) {
    top: 52px;
    left: 145px;
  }
}
.download__wrapper {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: @tablet-width) {
    text-align: left;
    margin-left: 60px;
    text-align: center;
  }
}
.download__color {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}
.download__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 4px;
  padding-bottom: 294px;
  text-align: center;
  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-left: 55px;
    padding-top: 59px;
    padding-bottom: 0;
    width: 247px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-left: 32px;
    padding-top: 55px;
    width: 271px;
  }
}
.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  width: 280px;
  height: 55px;
  border: 3px solid currentColor;
  border-radius: 29px;
  padding: 10px;
  margin-top: 28px;
  z-index: 6;
  @media (min-width: @tablet-width) {
    width: 300px;
    margin-top: -3px;
    margin-left: -62px;
  }
  @media (min-width: @desktop-width) {
    font-size: 21px;
    margin-top: -7px;
  }
  &:hover {
    background-color: white;
    color: #D22856;
    border: transparent;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
.download__features {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  z-index: 6;
  margin-top: 0;
  margin-bottom: 31px;
  margin-left: -19px;
  @media (min-width: @tablet-width) {
    width: 300px;
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
    margin-left: -60px;
    margin-bottom: 112px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 33px;
    margin-left: -60px;
    margin-bottom: 123px;
  }
}
