.download {
  min-height: 396px;
  color: white;
  @media (min-width: @tablet-width) {
    min-height: 619px;
  }
  @media (min-width: @desktop-width) {
    min-height: 743px;
  }
}
.download__container {
  background-color: #1D2631;
  @media (min-width: @tablet-width) {
    background-color: initial;
  }
}
.download__wrapper-position {
  position: relative;
}
.download__hand-iphone {
  overflow: hidden;
  position: absolute;
  top: 140px;
  left: 1px;
  @media (min-width: @tablet-width) {
    top: 74px;
    left: 1px;
  }
  @media (min-width: @desktop-width) {
    top: 98px;
    left: 145px;
  }
}
.download__wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    text-align: left;
    margin-left: 60px;
    text-align: center;
    width: 300px;
  }
}
.download__color {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}
.download__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  padding-top: 29px;
  padding-bottom: 320px;
  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 210px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 60px;
  }
}
.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  width: 280px;
  height: 55px;
  border: 3px solid currentColor;
  border-radius: 29px;
  padding: 10px;
  z-index: 6;
  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
  &:hover {
    background-color: white;
    color: #D22856;
    border: transparent;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
.download__features {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  z-index: 6;
  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
