.form-section__title {
  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
.form__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-areas: "fieldset-1"
      "fieldset-4"
      "fieldset-3"
      "fieldset-2"
      "fieldset-5";
  }
  @media (min-width: @desktop-width) {
    grid-template-areas: "fieldset-1 fieldset-4"
      "fieldset-3 fieldset-3"
      "fieldset-2 fieldset-2"
      "fieldset-5 fieldset-5";
  }
}
.form__fieldset-1 {
  grid-area: fieldset-1;
}
.form__fieldset-2 {
  grid-area: fieldset-2;
}
.form__fieldset-3 {
  grid-area: fieldset-3;
}
.form__fieldset-4 {
  grid-area: fieldset-4;
}
.form__fieldset-5 {
  grid-area: fieldset-5;
}
.form__field {
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  width: 276px;
  height: 59px;
}
.form__fieldset {
  border: none;
}
.form__item label {
  color: #D22856;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.form__item input,
.form__input-item label,
.form__radio-item label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.form__item-desktop {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.form__legend {
  color: #D22856;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  @media (min-width: @tablet-width) {
    line-height: 30px;
  }
}
.form__textarea {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  max-width: 816px;
  width: 100%;
  height: 197px;

}
.form__section small {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.form__fieldset:first-child {
  border: none;
}
.form__fieldset {
  @media (min-width: @tablet-width) {
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    background-color: initial;
  }
}
.form__legend-desktop {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
.form__input-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }
}
.form__fieldset-3 {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-around;

  }
}
.form__fieldset-3 .form__field {
  @media (min-width: @tablet-width) {
    width: 496px;
  }
  @media (min-width: @desktop-width) {
    width: 371px;
  }
}
.form__fieldset-5 {
  text-align: center;
}
.form__fieldset-5 label {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
.form__fieldset-2,
.form__fieldset-4 {
  text-align: left;
  margin: 0 -20px;
  background-color: #F2F2F2;
  @media (min-width: @tablet-width) {
    background-color: initial;
    margin: 0;
    padding: 0 20px;
  }
}
.form__field-surname,
.form__field-middlename {
  @media (min-width: @tablet-width) {
    width: 521px;
  }
}
.form__field-name {
  @media (min-width: @tablet-width) {
    width: 561px;
  }
}
