.form-section__title {
  margin-top: 44px;
  text-align: center;
  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
.form__wrapper {
  margin-top: 1px;
  @media (min-width: @tablet-width) {
    display: grid;
    justify-content: center;
    grid-template-areas: "fieldset-1"
      "fieldset-4"
      "fieldset-3"
      "fieldset-2"
      "fieldset-5";
  }
  @media (min-width: @desktop-width) {
    grid-template-areas: "fieldset-1 fieldset-4"
      "fieldset-3 fieldset-3"
      "fieldset-2 fieldset-2"
      "fieldset-5 fieldset-5";
  }
}
.form__fieldset-1 {
  grid-area: fieldset-1;
  padding: 0;
  margin-top: 28px;
}
.form__fieldset-2 {
  grid-area: fieldset-2;
}
.form__fieldset-3 {
  grid-area: fieldset-3;
}
.form__fieldset-4 {
  grid-area: fieldset-4;
}
.form__fieldset-5 {
  grid-area: fieldset-5;
}
.form__field {
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  height: 59px;
  &:hover {
    border: 2px solid #283645;
  }
  &:active {
    border: 2px solid #D22856;
  }
}
.form__fieldset {
  border: none;
}
.form__item label {
  color: #D22856;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.form__item input,
.form__input-item label,
.form__radio-item label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.form__item-desktop {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
  }
}
.form__legend {
  color: #D22856;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    line-height: 30px;
  }
}
.form__textarea {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  max-width: 816px;
  width: 100%;
  height: 197px;
}
.form__section small {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.form__fieldset:first-child {
  border: none;
}
.form__fieldset {
  @media (min-width: @tablet-width) {
    border: 2px solid #E5E5E5;
    border-radius: 1px;
    background-color: initial;
  }
}
.form__legend-desktop {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
.form__input-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }
}
.form__fieldset-3 {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-around;

  }
}
.form__fieldset-3 .form__field {
  @media (min-width: @tablet-width) {
    width: 496px;
  }
  @media (min-width: @desktop-width) {
    width: 371px;
  }
}
.form__fieldset-5 {
  text-align: center;
}
.form__fieldset-5 label {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
.form__fieldset-2,
.form__fieldset-4 {
  text-align: left;
  margin: 0 -20px;
  background-color: #F2F2F2;
  @media (min-width: @tablet-width) {
    background-color: initial;
    margin: 0;
    padding: 0 20px;
  }
}
.form__field-surname,
.form__field-middlename {
  @media (min-width: @tablet-width) {
    width: 521px;
  }
}
.form__field-name {
  @media (min-width: @tablet-width) {
    width: 561px;
  }
}
.form__input--radio + label {
  position: relative;
}
.form__input--radio:hover + label::before {
  border: 2px solid #283645;
}
.form__input--radio:active + label::before {
  border: 2px solid #D22856;
}
.form__input--radio + label::before {
  content: "";
  position: absolute;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  left: -35px;
}
.form__input--radio:checked + label::after {
  content: "";
  position: absolute;
  background-color: #D22856;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  left: -24px;
  top: 6px;
}
.form__input--checkbox + label {
  position: relative;
}
.form__input--checkbox + label::before {
  content: "";
  position: absolute;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  width: 33px;
  height: 33px;
  left: -35px;
}
.form__input--checkbox:hover + label::before {
  border: 2px solid #283645;
}
.form__input--checkbox:active + label::before {
  border: 2px solid #D22856;
}
.form__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 22px;
  height: 16px;
  left: -26px;
  top: 1px;
}
.form__fieldset-3 .form__item {
  position: relative;
  }
.form__fieldset-3 .form__item--phone::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    background-image: url(../img/old-phone.svg);
    width: 59px;
    height: 59px;
    bottom: 30px;
    right: 96px;
    }
    @media (min-width: @desktop-width) {
      right: 0;
    }
  }
.form__fieldset-3 .form__item--mail::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    background-image: url(../img/mail-icon.svg);
    width: 59px;
    height: 59px;
    bottom: 30px;
    right: 96px;
    }
    @media (min-width: @desktop-width) {
      right: 0;
    }
  }
  .form__item-field-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 26px;
    @media (min-width: @tablet-width) {
      flex-direction: row;
    }
  }
.form__item-field-1 label {
  margin-left: 21px;
  margin-top: -7px;
  margin-bottom: 7px;
}
.form__item-field-1 input {
  padding-left: 18px;
}
