.form__field {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  width: 276px;
  height: 59px;
}
.form__fieldset {
  border: none;
}
.form__item label {
  color: #D22856;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
.form__item input,
.form__input-item label,
.form__radio-item label {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.form__fieldset-gray {
  background-color: #F2F2F2;
}
.form__legend {
  color: #D22856;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.letter-area {
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  width: 276px;
  height: 197px;
}
.form__section small {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}
