.nav__list {
  text-align: center;
  padding: 0;
  margin: 0;
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 31px;
    margin-left: 190px;
  }
}
.nav__list a {
  position: relative;
  display: block;
  padding: 15px 0;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid black;
  @media (min-width: @desktop-width) {
    border: none;
    text-transform: none;
  }
  &:hover {
    color: #D22856;
  }
  &:active {
    color: #D22856;
    opacity: 0.3;
    @media (min-width: @desktop-width) {
      color: white;
      opacity: 0.3;
    }
  }
}
.nav__item {
  margin: 0 -20px;
  @media (min-width: @desktop-width) {
    margin-right: 99px;
    padding: 0;
    &:last-child {
      margin-right: 0;
    }
  }
  @media (min-width: @desktop-width) {
    &--active {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 109px;
        height: 2px;
        top: 59px;
        left: -20px;
        background-color: white;
      }
    }
    &--catalog-active {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 109px;
        height: 2px;
        top: 59px;
        left: -4px;
        background-color: white;
      }
    }
  }
}
 .nav__toggle {
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  @media (min-width: @tablet-width) {
    top: 29px;
    right: 12px;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}
.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 6px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.nav--closed .nav__toggle:active::before {
  background-color: fade(#ffffff, 30%);
  box-shadow:
    0 8px 0 0 fade(#ffffff, 30%),
    0 16px 0 0 fade(#ffffff, 30%);
}
@media (max-width: @mobile-width-only) {
  .nav--closed .nav__item {
    display: none;
  }
  .nav--opened .nav__toggle {
    top: 10px;
    right: 18px;
    @media (min-width: @tablet-width) {
      top: 31px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 36px;
      height: 2px;
      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#ffffff, 30%);
    }
  }
}
  .nav--nojs .nav__toggle {
    display: none;
  }
  .nav--nojs .nav__item {
    display: block;
  }


