.page-footer {
  text-align: center;
}
.page-footer__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 40px;
    line-height: 55px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
.page-footer__social-wrapper {
  @media (min-width: @tablet-width) {
   min-height: 127px;
   display: flex;
   justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    min-height: 197px;
  }
}
.page-footer__contacts {
  display: flex;
  flex-direction: column;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media (min-width: @desktop-width) {
    div:nth-child(3) {
      order: 0;
    }
    div:nth-child(2) {
      order: 1;
    }
  }
}
.page-footer__copyright {
  display: flex;
  flex-direction: row;
}
.copyright__link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
.page-footer__logo:hover .page-footer__logo-text path {
  fill: #d22856;
}
.page-footer__logo:active .page-footer__logo-text path {
  fill: #283645;
  opacity: 0.3;
}
.page-footer__logo:active .page-footer__logo-glasses {
  opacity: 0.3;
}
