.page-header {
  position: relative;
  background-color: #283645;
  background-image: url(../img/back-mobile.png);
  background-position: 50% 324px;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  color: white;
  @media (min-resolution: 2dppx) {
    background-image: url(../img/back-mobile@2.png);
  }
  @media (min-width: @tablet-width) {
    background-position: 50% 366px;
  }
  &--closed {
    background-color: #283645;
    background-position: 50% 0;
    background-size: cover;
  }
  @media (min-width: @tablet-width) {
    background-image: url(../img/back-tablet.png);
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background-image: url(../img/back-tablet@2.png);
    }
  }
  @media (min-width: @desktop-width) {
    background-image: url(../img/back-desktop.png);
    background-position: 50% 0;
    background-size: cover;
    @media (min-resolution: 2dppx) {
      background-image: url(../img/back-desktop@2.png);
    }
  }
}
.page-header__container {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 147px auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}
.page-header-color {
  background-color: fade(#000000, 30%);
}
.page-header__logo {
  display: block;
  margin-left: -72px;
  padding-top: 7px;
  padding-bottom: 12px;
  @media (min-width: @tablet-width) {
    padding-top: 26px;
    padding-bottom: 34px;
    margin-left: 0;
  }
  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 26px;
    padding-bottom: 46px
  }
}
.page-header__logo-mobile {
  display: block;
  margin-bottom: 10px;
  @media (min-width: @desktop-width) {
    display: none;
  }
}
.page-header__logo-desktop {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
