.page-footer {
  text-align: center;
}
.page-footer__logo,
.page-footer__copyright {
  margin-left: auto;
  margin-right: auto;
  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 0;
  }
}
.page-footer__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-top: 23px;
  margin-bottom: 24px;
  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 40px;
    line-height: 55px;
    margin-top: 43px;
    margin-bottom: 0;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 58px;
  }
}
.page-footer__social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 31px;
  flex-direction: column;
   @media (min-width: @tablet-width) {
     flex-direction: row;
    justify-content: space-between;
  }
}
.page-footer__social-wrapper-index {
  margin-top: 14px;
  @media (min-width: @tablet-width) {
    margin-top: -2px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 26px;
  }
}
.page-footer__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 62px;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -4px;
  }
  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    align-items: baseline;
    margin-top: -8px;
    div:nth-child(3) {
      order: 0;
    }
    div:nth-child(2) {
      order: 1;
    }
  }
}
.page-footer__copyright {
  display: flex;
  flex-direction: row;
  @media (min-width: @tablet-width) {
    margin-top: -13px;
    margin-right: -13px;
  }
  @media (min-width: @desktop-width) {
    margin-top: -12px;
    margin-right: -15px;
  }
}
.page-footer__copyright-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-top: 31px;
  margin-left: 13px;
  @media (min-width: @tablet-width) {
    margin-top: 31px;
    margin-left: 13px;
  }
  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
.page-footer__copyright-link {
  text-decoration: none;
  color: black;
  margin-top: 18px;
}
.page-footer__copyright-link svg {
  width: 52px;
  height: 43px;
}
.page-footer__copyright-link:hover path {
  fill: #283645;
}
.page-footer__copyright-link:active path {
  opacity: 0.3;
}
.page-footer__logo:hover .page-footer__logo-text path {
  fill: #d22856;
}
.page-footer__logo:active .page-footer__logo-text path {
  fill: #283645;
  opacity: 0.3;
}
.page-footer__logo:active .page-footer__logo-glasses {
  opacity: 0.3;
}
.page-footer__logo-mobile {
  display: block;
  @media (min-width: @desktop-width) {
    display: none;
  }
}
.page-footer__logo-desktop {
  display: none;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
.page-footer__map {
  position: relative;
  height: 200px;
  margin: 0 -20px;
  padding: 0;
  @media (min-width: @tablet-width) {
    height: 374px;
  }
  @media (min-width: @desktop-width) {
    height: 502px;
    margin: 0 -130px;
  }
}
.page-footer__iframe {
  position: absolute;
  height: 200px;
  top: -22px;
  left: 0;
  width: 100%;
  @media (min-width: @tablet-width) {
    height: 374px;
    top: -40px;
  }
  @media (min-width: @desktop-width) {
    height: 502px;
    top: -44px;
  }
}
.page-footer__map img {
  position: absolute;
  top: -58%;
  left: 0;
  z-index: 2;
  @media (min-width: @tablet-width) {
    top: -60%;
  }
  @media (min-width: @desktop-width) {
    top: -76%;
  }
}
