.page-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  background: #283645;
}
.page-header__logo {
  box-shadow: 0px 1px 0px;
  margin-top: 25px;
  margin-left: 10px;
  text-decoration: none;
}
