.photo-section__wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  gap: 20px;
  padding-top: 25px;
  @media (min-width: @tablet-width) {
    margin-top: 50px;
    row-gap: 22px;
    padding-top: 0;
  }
  @media (min-width: @desktop-width) {
    row-gap: 57px;
  }
}
.photo-section__title {
  margin-top: 44px;
  margin-bottom: 51px;
  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
    margin-top: 90px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: @desktop-width) {
    width: 575px;
    margin-bottom: 90px;
  }
}
.photo-section__title br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}
