.reviews {
  text-align: center;

  @media (min-width: @desktop-width) {
    margin-top: 70px;
  }
}

.reviews__image {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}

.reviews__author-info {
  margin-top: 32px;

  @media (min-width: @desktop-width) {
    margin-top: -56px;
  }
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    margin-top: 17px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    margin-bottom: 4px;
  }
}

.reviews__about-author {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews__text br {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.reviews__toggles {
  margin-top: 22px;
  margin-left: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 28px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__wrapper {
  @media (min-width: @tablet-width) {
    margin-top: 83px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__item {
  position: relative;
  margin: 0;
}

.reviews__button-left {
  display: none;
  position: absolute;
  border: none;
  background-color: transparent;
  left: -1px;
  top: 144px;
  width: 22px;
  height: 41px;
  cursor: pointer;
  background-image: url("../img/left-arrow.svg");

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.reviews__button-right {
  display: none;
  position: absolute;
  border: none;
  background-color: transparent;
  right: -1px;
  top: 144px;
  width: 22px;
  height: 41px;
  cursor: pointer;
  background-image: url("../img/right-arrow.svg");

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.reviews__button-right,
.reviews__button-left {
  opacity: 0.3;
}

.reviews__button-right:hover,
.reviews__button-left:hover {
  opacity: 0.6;
}

.reviews__button-left:active,
.reviews__button-right:active {
  opacity: 0.1;
}
