.reviews {
  text-align: center;
  min-height: 405px;
}
.reviews__image {
  display: none;
  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
.reviews__author-info {
  padding-top: 150px;
}
.reviews__author-name{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}
.reviews__about-author {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  @media (min-width: @tablet-width) {
    display: block;
  }
  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
.reviews__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
.reviews__toggles {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
.reviews__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}
.reviews__item {
  position: relative;
}
.reviews__button-left {
  display: none;
  position: absolute;
  border: none;
  background-color: transparent;
  left: -30px;
  top: 50px;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
.reviews__button-right {
  display: none;
  position: absolute;
  border: none;
  background-color: transparent;
  right: -30px;
  top: 50px;
  @media (min-width: @desktop-width) {
    display: block;
  }
}
