.slider-toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border-radius: 50%;
  border: none;
  margin-right: 14px;
  &:hover {
    background-color: rgba(40, 54, 69, 0.6);
  }
  &:active {
    background-color: rgba(40, 54, 69, 0.1);
  }
}
.slider-toggle--current {
  background-color: white;
  box-shadow: 0 0 0 3px rgba(40, 54, 69, 1);
}
