.social__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 48px);
  gap: 14px;
  padding: 0;
  margin-top: 40px;
  @media (min-width: @tablet-width) {
    margin-top: 1px;
    margin-left: 12px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 37px;
  }
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.social__item:hover {
  border: 3px solid rgba(40, 54, 69, 1);
}
.social__item:active {
  border: 3px solid rgba(40, 54, 69, 0.1);
}
.social__item:active path {
  opacity: 0.3;
}
