.photo-section__wrapper {
  display: grid;
  grid-template-columns: 280px;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, 300px);
  }
}
.user-photo,
.user-photo-panorama {
  background-color: #F2F2F2;
}
.user-photo-panorama img {
  margin-left: -20px;
  margin-right: -20px;
  @media (min-width: @desktop-width) {
    margin-left: -130px;
    margin-right: -130px;
  }
}
.user-photo img {
  width: 100%;
}
.user-photo__author,
.user-photo-panorama__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.user-photo__time,
.user-photo-panorama__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}
.user-photo__author-desc,
.user-photo-panorama__author-desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  outline: 5px solid fade(green, 80%);
  outline-offset: -5px;
}
.user-photo__like,
.user-photo-panorama__like {
  color: #D22856;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
}
.user-photo__button-like,
.user-photo-panorama__button-like {
  border: none;
}
.user-photo__container,
.user-photo-panorama__container {
  display: flex;
  flex-direction: row;
  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
  }
}
.user-photo__container button,
.user-photo-panorama__container button {
  order: 0;
}
.user-photo__container p,
.user-photo-panorama__container p {
  order: 2;
}
.user-photo-panorama__grid {
  display: grid;
  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, auto);
  }
}
.user-photo-panorama__grid .user-photo-panorama__author-desc {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}
.user-photo-panorama__grid div {
  @media (min-width: @tablet-width) {
    order: 0;
  }
}

